{
  "openapi": "3.1.0",
  "info": { "title": "platine-management-api", "version": "3.7.2" },
  "servers": [
    {
      "url": "https://api-pilotage-enquetes.developpement3.insee.fr",
      "description": "Generated server url"
    }
  ],
  "security": [{ "oauth2": ["read", "write"] }],
  "tags": [
    {
      "name": "3 - Metadata",
      "description": "Enpoints to create, update, delete and find entities in metadata domain"
    },
    { "name": "1 - Contacts", "description": "Enpoints to create, update, delete and find contacts" },
    { "name": "5 - Moog", "description": "Enpoints for moog" },
    { "name": "8 - Healthcheck", "description": "healthcheck" },
    { "name": "1 - Contacts", "description": "Endpoints to create, update, delete and find contacts" },
    { "name": "6 - Webclients", "description": "Endpoints for webclients" },
    {
      "name": "3 - Metadata",
      "description": "Endpoints to create, update, delete and find entities in metadata domain"
    },
    { "name": "6 - Webclients", "description": "Enpoints for webclients" },
    {
      "name": "2 - Questioning",
      "description": "Enpoints to create, update, delete and find entities around the questionings"
    },
    {
      "name": "7-User",
      "description": "Enpoints to create, update, delete and find users, their events and accreditations"
    }
  ],
  "paths": {
    "/api/users/{id}": {
      "get": {
        "tags": ["7-User"],
        "summary": "Search for a user by its id",
        "operationId": "getUser",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserDto" } } }
          }
        }
      },
      "put": {
        "tags": ["7-User"],
        "summary": "Update or create user",
        "operationId": "putUser",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserDto" } } },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserDto" } } }
          },
          "201": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserDto" } } }
          }
        }
      },
      "delete": {
        "tags": ["7-User"],
        "summary": "Delete a user, its userEvents and its sourceaccreditations",
        "operationId": "deleteUser",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "204": {
            "description": "No Content",
            "content": { "*/*": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/api/surveys/{id}": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for a survey by its id",
        "operationId": "getSurvey",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SurveyDto" } } }
          }
        }
      },
      "put": {
        "tags": ["3 - Metadata"],
        "summary": "Update or create a survey",
        "operationId": "putSurvey",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SurveyDto" } } },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SurveyDto" } } }
          }
        }
      },
      "delete": {
        "tags": ["3 - Metadata"],
        "summary": "Delete a survey, its campaigns, partitionings, questionings ...",
        "operationId": "deleteSurvey",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "204": { "description": "No Content" }
        }
      }
    },
    "/api/survey-units/{id}": {
      "get": {
        "tags": ["2 - Questioning"],
        "summary": "Search for a survey unit by its id",
        "operationId": "findSurveyUnit",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SurveyUnitDetailsDto" } }
            }
          }
        }
      },
      "put": {
        "tags": ["2 - Questioning"],
        "summary": "Create or update a survey unit",
        "operationId": "putSurveyUnit",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/SurveyUnitDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SurveyUnitDto" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SurveyUnitDto" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["2 - Questioning"],
        "summary": "Delete a survey unit by its id",
        "operationId": "deleteSurveyUnit",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "204": { "description": "No content" }
        },
        "deprecated": true
      }
    },
    "/api/supports/{id}": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for a support by its id",
        "operationId": "getSupport",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SupportDto" } }
            }
          }
        }
      },
      "put": {
        "tags": ["3 - Metadata"],
        "summary": "Update or create a support",
        "operationId": "putSupport",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SupportDto" } } },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SupportDto" } }
            }
          }
        }
      }
    },
    "/api/sources/{id}": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for a source by its id",
        "operationId": "getSource",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SourceOnlineStatusDto" } }
            }
          }
        }
      },
      "put": {
        "tags": ["3 - Metadata"],
        "summary": "Update or create a source",
        "operationId": "putSource",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/SourceOnlineStatusDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SourceOnlineStatusDto" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["3 - Metadata"],
        "summary": "Delete a source, its surveys, campaigns, partitionings, questionings ...",
        "operationId": "deleteSource",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "204": { "description": "No Content" }
        }
      }
    },
    "/api/sources/{id}/params": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Get source parameters",
        "operationId": "getParams",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ParamsDto" } }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["3 - Metadata"],
        "summary": "Create a parameter for a source",
        "operationId": "putParams",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ParamsDto" } } },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ParamsDto" } }
              }
            }
          }
        }
      }
    },
    "/api/questionings": {
      "get": {
        "tags": ["6 - Webclients"],
        "summary": "Get questioning for webclients",
        "operationId": "getQuestioning",
        "parameters": [
          { "name": "modelName", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "idPartitioning", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "idSurveyUnit", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuestioningWebclientDto" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["6 - Webclients"],
        "summary": "Create or update questioning for webclients - Returns the questioning and all its accreditations",
        "operationId": "putQuestioning",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/QuestioningWebclientDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuestioningWebclientDto" }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuestioningWebclientDto" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["2 - Questioning"],
        "summary": "Create or update questioning",
        "operationId": "postQuestioning",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/QuestioningDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "NotFound",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/QuestioningDto" } }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/partitionings/{id}": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for a partitioning by its id",
        "operationId": "getPartitioning",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/PartitioningDto" } }
            }
          }
        }
      },
      "put": {
        "tags": ["3 - Metadata"],
        "summary": "Update or create a partitioning",
        "operationId": "putPartitioning",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/PartitioningDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/PartitioningDto" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/PartitioningDto" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["3 - Metadata"],
        "summary": "Delete a partitioning, its partitionings, partitionings, questionings ...",
        "operationId": "deletePartitioning",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": { "description": "OK" }
        }
      }
    },
    "/api/owners/{id}": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for a owner by its id",
        "operationId": "getOwner",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OwnerDto" } } }
          }
        }
      },
      "put": {
        "tags": ["3 - Metadata"],
        "summary": "Update or create a owner",
        "operationId": "putOwner",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OwnerDto" } } },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OwnerDto" } } }
          }
        }
      }
    },
    "/api/moog/campaigns/{id}": {
      "put": {
        "tags": ["5 - Moog"],
        "operationId": "updateCampaignInProgressMoog",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CampaignMoogDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": { "description": "OK" }
        }
      },
      "delete": {
        "tags": ["3 - Metadata"],
        "summary": "Delete a campaign, its campaigns, partitionings, questionings ...",
        "operationId": "deleteCampaign",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": { "description": "OK" }
        }
      }
    },
    "/api/metadata/{id}": {
      "get": {
        "tags": ["6 - Webclients"],
        "summary": "Search for a partitioning and metadata by partitioning id",
        "operationId": "getMetadata",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/MetadataDto" } }
            }
          }
        }
      },
      "put": {
        "tags": ["6 - Webclients"],
        "summary": "Insert or update a partitiong and metadata by partitioning id",
        "operationId": "putMetadata",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/MetadataDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/MetadataDto" } }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/MetadataDto" } }
            }
          }
        }
      }
    },
    "/api/contacts/{id}": {
      "get": {
        "tags": ["1 - Contacts"],
        "summary": "Search for a contact by its id",
        "operationId": "getContact",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ContactDetailsDto" } } }
          }
        }
      },
      "put": {
        "tags": ["1 - Contacts"],
        "summary": "Update or create a contact",
        "operationId": "putContact",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContactDto" } } },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ContactDto" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["1 - Contacts"],
        "summary": "Delete a contact, its address, its contactEvents",
        "operationId": "deleteContact",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "204": { "description": "No Content" }
        },
        "deprecated": true
      }
    },
    "/api/contacts/{id}/address": {
      "get": {
        "tags": ["1 - Contacts"],
        "summary": "Search for a contact address by the contact id",
        "operationId": "getContactAddress",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/AddressDto" } }
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": ["1 - Contacts"],
        "summary": "Update or create an address by the contact id",
        "operationId": "putAddress",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AddressDto" } } },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/AddressDto" } }
            }
          }
        }
      }
    },
    "/api/campaigns/{id}": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for a campaign by its id",
        "operationId": "getCampaign",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/CampaignDto" } }
            }
          }
        }
      },
      "put": {
        "tags": ["3 - Metadata"],
        "summary": "Update or create a campaign",
        "operationId": "putCampaign",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CampaignDto" },
              "examples": {
                "LUNATIC_NORMAL campaign": {
                  "description": "LUNATIC_NORMAL campaign",
                  "value": {
                    "id": "string",
                    "surveyId": "string",
                    "year": 2025,
                    "campaignWording": "string",
                    "period": "string",
                    "sensitivity": false,
                    "dataCollectionTarget": "LUNATIC_NORMAL"
                  }
                },
                "LUNATIC_SENSITIVE campaign": {
                  "description": "LUNATIC_SENSITIVE campaign",
                  "value": {
                    "id": "string",
                    "surveyId": "string",
                    "year": 2025,
                    "campaignWording": "string",
                    "period": "string",
                    "sensitivity": true,
                    "dataCollectionTarget": "LUNATIC_SENSITIVE"
                  }
                },
                "ORBEON1 campaign": {
                  "description": "ORBEON1 campaign",
                  "value": {
                    "id": "string",
                    "surveyId": "string",
                    "year": 2025,
                    "campaignWording": "string",
                    "period": "string",
                    "sensitivity": false,
                    "dataCollectionTarget": "XFORM1"
                  }
                },
                "ORBEON2 campaign": {
                  "description": "ORBEON2 campaign",
                  "value": {
                    "id": "string",
                    "surveyId": "string",
                    "year": 2025,
                    "campaignWording": "string",
                    "period": "string",
                    "sensitivity": false,
                    "dataCollectionTarget": "XFORM2"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/CampaignDto" } }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/CampaignDto" } }
            }
          }
        }
      },
      "delete": {
        "tags": ["3 - Metadata"],
        "summary": "Delete a campaign, its campaigns, partitionings, questionings ...",
        "operationId": "deleteCampaign_1",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": { "description": "OK" }
        }
      }
    },
    "/api/campaigns/{id}/params": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Get campaign parameters",
        "operationId": "getParams_1",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ParamsDto" } }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["3 - Metadata"],
        "summary": "Create a parameter for a campaign",
        "operationId": "putParams_1",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ParamsDto" } } },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ParamsDto" } }
              }
            }
          }
        }
      }
    },
    "/api/users/contact-events": {
      "post": {
        "tags": ["7-User"],
        "summary": "Create a userEvent",
        "operationId": "postUserEvent",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/UserEventDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/UserEventDto" } }
            }
          }
        }
      }
    },
    "/api/survey-units/{id}/comment": {
      "post": {
        "tags": ["2 - Questioning"],
        "summary": "Create a survey unit comment",
        "operationId": "postSurveyUnitComment",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SurveyUnitCommentInputDto" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SurveyUnitCommentInputDto" }
              }
            }
          }
        }
      }
    },
    "/api/source/{id}/source-accreditations": {
      "get": {
        "tags": ["7-User"],
        "summary": "Search for source accreditations by source id",
        "operationId": "getSourceAccreditation",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SourceAccreditationDto" }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["7-User"],
        "summary": "Create or update a source accreditation for a source",
        "operationId": "postSourceAccreditation",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/SourceAccreditationDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "NotFound",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SourceAccreditationDto" } }
            }
          }
        }
      }
    },
    "/api/questionings/{id}/questioning-accreditations": {
      "get": {
        "tags": ["2 - Questioning"],
        "summary": "Search for questioning accreditations by questioning id",
        "operationId": "getQuestioningAccreditation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/QuestioningAccreditationDto" }
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": ["2 - Questioning"],
        "summary": "Create or update a questioning accreditation for a questioning",
        "operationId": "postQuestioningAccreditation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuestioningAccreditationDto" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "NotFound",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuestioningAccreditationDto" }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/questionings/{id}/comment": {
      "post": {
        "tags": ["2 - Questioning"],
        "summary": "Create a questioning comment",
        "operationId": "postQuestioningComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuestioningCommentInputDto" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuestioningCommentInputDto" }
              }
            }
          }
        }
      }
    },
    "/api/questionings/questioning-events": {
      "post": {
        "tags": ["2 - Questioning"],
        "summary": "Create a questioning event",
        "operationId": "postQuestioningEvent",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "questioning id",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/QuestioningEventDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/QuestioningEventDto" } }
            }
          }
        }
      }
    },
    "/api/questionings/questioning-events/{eventType}": {
      "post": {
        "tags": ["2 - Questioning"],
        "summary": "Create a questioning event",
        "operationId": "createQuestioningEvent",
        "parameters": [
          { "name": "eventType", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/QuestioningEventInputDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Questioning not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/QuestioningEventDto" } }
            }
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/QuestioningEventDto" } }
            }
          }
        }
      }
    },
    "/api/partitionings/{idPartitioning}/survey-units/{idSu}/follow-up": {
      "get": {
        "tags": ["6 - Webclients"],
        "summary": "Indicates whether a questioning should be follow up or not",
        "operationId": "isToFollowUp",
        "parameters": [
          { "name": "idPartitioning", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "idSu", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/EligibleDto" } }
            }
          }
        }
      },
      "post": {
        "tags": ["6 - Webclients"],
        "summary": "Add a FOLLWUP state to a questioning",
        "operationId": "postFollowUp",
        "parameters": [
          { "name": "idPartitioning", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "idSu", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StateDto" } } }
          }
        }
      }
    },
    "/api/moog/campaigns/{idCampaign}/uploads": {
      "get": {
        "tags": ["5 - Moog"],
        "operationId": "displayAllUploads",
        "parameters": [
          { "name": "idCampaign", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JSONCollectionWrapperUpload" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["5 - Moog"],
        "operationId": "addQuestioningEventViaUpload",
        "parameters": [
          { "name": "idCampaign", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UploadDto" } } },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ResultUpload" } }
            }
          }
        }
      }
    },
    "/api/contacts/contact-events": {
      "post": {
        "tags": ["1 - Contacts"],
        "summary": "Create a contactEvent",
        "operationId": "postContactEvent",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ContactEventDto" } }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ContactEventDto" } }
            }
          }
        },
        "deprecated": true
      }
    },
    "/campaigns/{id}/ongoing": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "campaign is ongoing",
        "operationId": "isOnGoingCampaign",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/OnGoingDto" } }
            }
          }
        }
      }
    },
    "/api/users": {
      "get": {
        "tags": ["7-User"],
        "summary": "Search for users, paginated",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "identifier" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserPage" } } }
          }
        }
      }
    },
    "/api/users/{id}/user-events": {
      "get": {
        "tags": ["7-User"],
        "summary": "Search for userEvents by user's id",
        "operationId": "getUserUserEvents",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Internal servor error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/UserEventDto" } }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/accredited-sources": {
      "get": {
        "tags": ["7-User"],
        "summary": "Get user accredited sources",
        "operationId": "getUserSources",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "204": {
            "description": "No Content",
            "content": { "*/*": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/api/users/v2": {
      "get": {
        "tags": ["7-User"],
        "summary": "Search for users, without pagination",
        "operationId": "getUsersNotPaginated",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/UserDto" } }
              }
            }
          }
        }
      }
    },
    "/api/temp/moog/campaigns/{idCampaign}/monitoring/progress": {
      "get": {
        "tags": ["5 - Moog"],
        "operationId": "getDataForProgressTemp",
        "parameters": [
          { "name": "idCampaign", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JSONCollectionWrapperMoogProgressDto" }
              }
            }
          }
        }
      }
    },
    "/api/temp/moog/campaigns/{idCampaign}/monitoring/follow-up": {
      "get": {
        "tags": ["5 - Moog"],
        "operationId": "getDataToFollowUpTemp",
        "parameters": [
          { "name": "idCampaign", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JSONCollectionWrapperMoogFollowUpDto" }
              }
            }
          }
        }
      }
    },
    "/api/surveys": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for surveys, paginated",
        "operationId": "getSurveys",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "id" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SurveyPage" } }
            }
          }
        }
      }
    },
    "/api/surveys/{id}/campaigns": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for campaigns by the survey id",
        "operationId": "getCampaignsBySurvey",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/CampaignDto" } }
              }
            }
          }
        }
      }
    },
    "/api/surveys/{id}/campaigns-partitionings": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for campaigns and partitionings by the survey id",
        "operationId": "getCampaignsPartitioningsBySurvey",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/CampaignPartitioningsDto" }
                }
              }
            }
          }
        }
      }
    },
    "/api/surveys/search": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for surveys, paginated",
        "operationId": "getSurveys_1",
        "parameters": [
          { "name": "idSource", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32" }
          },
          { "name": "periodicity", "in": "query", "required": false, "schema": { "type": "string" } },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "id" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SurveyPage" } }
            }
          }
        }
      }
    },
    "/api/survey-units": {
      "get": {
        "tags": ["2 - Questioning"],
        "summary": "Search for a survey units, paginated",
        "operationId": "getSurveyUnits",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "idSu" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SurveyUnitPage" } }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/survey-units/{id}/questionings": {
      "get": {
        "tags": ["2 - Questioning"],
        "summary": "Search for questionings by survey unit id",
        "operationId": "getQuestioningsBySurveyUnit",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/QuestioningDto" } }
              }
            }
          }
        }
      }
    },
    "/api/survey-units/{id}/partitionings": {
      "get": {
        "tags": ["2 - Questioning"],
        "summary": "Get contacts authorised to respond to a survey for a survey unit",
        "operationId": "getSurveyUnitPartitionings",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          {
            "name": "isFilterOpened",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SurveyUnitPartitioningDto" }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/survey-units/{id}/contacts": {
      "get": {
        "tags": ["2 - Questioning"],
        "summary": "Get contacts authorised to respond to a survey for a survey unit",
        "operationId": "getSurveyUnitContacts",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SearchSurveyUnitContactDto" }
                }
              }
            }
          }
        }
      }
    },
    "/api/survey-units/search": {
      "get": {
        "tags": ["2 - Questioning"],
        "summary": "Multi-criteria search survey-unit",
        "operationId": "searchSurveyUnits",
        "parameters": [
          { "name": "searchParam", "in": "query", "required": true, "schema": { "type": "string" } },
          {
            "name": "searchType",
            "in": "query",
            "description": "id or code or name",
            "required": true,
            "schema": { "type": "string", "description": "id or code or name" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 20 }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SearchSurveyUnitDto" }
                }
              }
            }
          }
        }
      }
    },
    "/api/survey-units/search/V2": {
      "get": {
        "tags": ["2 - Questioning"],
        "summary": "Multi-criteria search survey-unit",
        "operationId": "searchSurveyUnitsByParam",
        "parameters": [
          { "name": "searchParam", "in": "query", "required": true, "schema": { "type": "string" } },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 20 }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SearchSurveyUnitDto" }
                }
              }
            }
          }
        }
      }
    },
    "/api/supports": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for supports, paginated",
        "operationId": "getSupports",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 20 }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "id" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/SupportPage" } }
            }
          }
        }
      }
    },
    "/api/sources": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for sources, paginated",
        "operationId": "getSources",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
            "description": "Bad Request",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/SourceDto" } }
              }
            }
          }
        }
      }
    },
    "/api/sources/{id}/surveys": {
      "get": {
        "tags": ["3 - Metadata"],
        "summary": "Search for surveys by the source id",
        "operationId": "getSurveysBySource",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "404": {
            "description": "Not Found",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/ApiError" } } }
          },
          "400": {
[...]
