{
  "openapi": "3.1.0",
  "info": {
    "title": "platine-aiguillage-api",
    "description": "Java version: 21",
    "contact": {
      "name": "Plateformes de collecte",
      "email": "service-numerique-plateforme-collecte@insee.fr"
    },
    "version": "2.7.1"
  },
  "servers": [
    { "url": "https://api-enquetes.developpement3.insee.fr", "description": "Generated server url" }
  ],
  "security": [{ "oauth2": ["read", "write"] }],
  "tags": [
    {
      "name": "Actuator",
      "description": "Monitor and interact",
      "externalDocs": {
        "description": "Spring Boot Actuator Web API Documentation",
        "url": "https://docs.spring.io/spring-boot/docs/current/actuator-api/html/"
      }
    }
  ],
  "paths": {
    "/user/mail": {
      "get": {
        "tags": ["User account"],
        "summary": "Récupération du mail du contact",
        "operationId": "mailConsultation",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/MailOutput" } } }
          }
        }
      },
      "put": {
        "tags": ["User account"],
        "summary": "Modification du mail du contact",
        "operationId": "mailModification",
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MailInput" } } },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/MailUpdate" } } }
          }
        }
      }
    },
    "/repondant/mail": {
      "get": {
        "tags": ["User account"],
        "summary": "Récupération du mail du contact",
        "operationId": "mailConsultationOld",
        "responses": {
          "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "string" } } } }
        }
      },
      "put": {
        "tags": ["User account"],
        "summary": "Modification du mail du contact",
        "operationId": "mailModificationOld",
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "string" } } },
          "required": true
        },
        "responses": {
          "200": { "description": "OK", "content": { "*/*": { "schema": { "type": "boolean" } } } }
        }
      }
    },
    "/reinit-password": {
      "post": {
        "tags": ["Assistance"],
        "summary": "Reinit password",
        "operationId": "reinitPassword",
        "parameters": [
          { "name": "idec", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/ReinitPasswordStatusDto" } }
            }
          }
        }
      }
    },
    "/e-mail": {
      "post": {
        "tags": ["Assistance"],
        "summary": "Send mail to assistance",
        "operationId": "contactAssistance",
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/MailAssistanceInputDto" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/MailAssistanceStatusDto" } }
            }
          }
        }
      }
    },
    "/sources/ongoing": {
      "get": {
        "tags": ["Assistance"],
        "operationId": "getOpenSources",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SourceOngoingDto" }
                }
              }
            }
          }
        }
      }
    },
    "/questionnaires": {
      "get": {
        "tags": ["Access"],
        "operationId": "getListQuestionnaires",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/QuestionnaireDto" }
                }
              }
            }
          }
        }
      }
    },
    "/questionnaires-url": {
      "get": {
        "tags": ["Access"],
        "operationId": "getUrlRedirection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Ligne" } } }
            }
          }
        }
      }
    },
    "/is-survey-online/{id}": {
      "get": {
        "tags": ["Access"],
        "summary": "Vérifie si une enquête est ouverte ou fermée",
        "operationId": "isSurveyOnline",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/SurveyStatus" } } }
          }
        }
      }
    },
    "/healthcheck": {
      "get": {
        "tags": ["Healthcheck"],
        "operationId": "healthcheck",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "$ref": "#/components/schemas/HealthcheckDto" } } }
          }
        }
      }
    },
    "/actuator": {
      "get": {
        "tags": ["Actuator"],
        "summary": "Actuator root web endpoint",
        "operationId": "links",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.spring-boot.actuator.v3+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": { "$ref": "#/components/schemas/Link" }
                  }
                }
              },
              "application/vnd.spring-boot.actuator.v2+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": { "$ref": "#/components/schemas/Link" }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": { "$ref": "#/components/schemas/Link" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/actuator/health": {
      "get": {
        "tags": ["Actuator"],
        "summary": "Actuator web endpoint 'health'",
        "operationId": "health",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.spring-boot.actuator.v3+json": { "schema": { "type": "object" } },
              "application/vnd.spring-boot.actuator.v2+json": { "schema": { "type": "object" } },
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MailInput": { "type": "object", "properties": { "mail": { "type": "string" } } },
      "MailUpdate": { "type": "object", "properties": { "isUpdate": { "type": "boolean" } } },
      "ReinitPasswordStatusDto": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "status": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "103 CHECKPOINT",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "302 MOVED_TEMPORARILY",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "305 USE_PROXY",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 PAYLOAD_TOO_LARGE",
              "413 REQUEST_ENTITY_TOO_LARGE",
              "414 URI_TOO_LONG",
              "414 REQUEST_URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "419 INSUFFICIENT_SPACE_ON_RESOURCE",
              "420 METHOD_FAILURE",
              "421 DESTINATION_LOCKED",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          }
        }
      },
      "MailAssistanceInputDto": {
        "type": "object",
        "properties": {
          "auth": { "type": "boolean" },
          "idec": { "type": "string" },
          "idue": { "type": "string" },
          "questioningId": { "type": "integer", "format": "int64" },
          "mailaddress": { "type": "string" },
          "message": { "type": "string" },
          "name": { "type": "string" },
          "phonenumber": { "type": "string" },
          "survey": { "type": "string" },
          "mailobjet": {
            "type": "string",
            "enum": [
              "affichageQuestionnaire",
              "comprehensionQuestionnaire",
              "autre",
              "perteIdentifiant",
              "perteMotDePasse"
            ]
          }
        }
      },
      "MailAssistanceStatusDto": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "status": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "103 CHECKPOINT",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "302 MOVED_TEMPORARILY",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "305 USE_PROXY",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 PAYLOAD_TOO_LARGE",
              "413 REQUEST_ENTITY_TOO_LARGE",
              "414 URI_TOO_LONG",
              "414 REQUEST_URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "419 INSUFFICIENT_SPACE_ON_RESOURCE",
              "420 METHOD_FAILURE",
              "421 DESTINATION_LOCKED",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          }
        }
      },
      "MailOutput": { "type": "object", "properties": { "mail": { "type": "string" } } },
      "SourceOngoingDto": {
        "type": "object",
        "properties": { "id": { "type": "string" }, "label": { "type": "string" } }
      },
      "QuestionnaireDto": {
        "type": "object",
        "properties": {
          "sourceId": { "type": "string" },
          "surveyUnitIdentificationCode": { "type": "string" },
          "surveyUnitIdentificationName": { "type": "string" },
          "surveyUnitId": { "type": "string" },
          "questioningStatus": { "type": "string" },
          "questioningAccessUrl": { "type": "string" },
          "depositProofUrl": { "type": "string" },
          "questioningId": { "type": "integer", "format": "int64" },
          "partitioningLabel": { "type": "string" },
          "partitioningId": { "type": "string" }
        }
      },
      "Ligne": {
        "type": "object",
        "properties": {
          "idCampagne": { "type": "string", "xml": { "attribute": true } },
          "idUE": { "type": "string", "xml": { "attribute": true } },
          "dateRetourSouhaitee": { "type": "string", "xml": { "attribute": true } },
          "libelle": { "type": "string" },
          "etatCampagne": { "type": "string" },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "SurveyStatus": {
        "type": "object",
        "properties": {
          "opened": { "type": "boolean" },
          "messageSurveyOffline": { "type": "string" },
          "messageInfoSurveyOffline": { "type": "string" }
        }
      },
      "HealthcheckDto": {
        "type": "object",
        "properties": {
          "environnement": { "type": "string" },
          "keycloakServiceOk": { "type": "boolean" },
          "managementApiOk": { "type": "boolean" },
          "mailServiceOk": { "type": "boolean" },
          "ldapServiceOk": { "type": "boolean" }
        }
      },
      "Link": {
        "type": "object",
        "properties": { "href": { "type": "string" }, "templated": { "type": "boolean" } }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.insee.test/auth/realms/questionnaire-particuliers/protocol/openid-connect/auth",
            "tokenUrl": "https://auth.insee.test/auth/realms/questionnaire-particuliers/protocol/openid-connect/token",
            "scopes": {}
          }
        }
      }
    }
  }
}
